<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<form action="student" method="post">
		Họ và tên: <input type="text" name="name" id="" /> <br />
		Điểm trung bình: <input type="text" name="gpa" id="" /> <br />
		Chuyên Ngành: <br />
		<label> <input type="radio" name="major" id="" value="Ứng dụng Phần Mềm" />Ứng dụng Phần Mềm </label> 
		<label> <input type="radio" name="major" id="" value="Thiết kế web" /> Thiết kế web </label>
		<input type="submit" value="Lưu" />
	</form>
</body>
</html>