<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>new</h1>

<form action="/students" method="post">
	Name: <input type="text" name="name" id="" /><br />
	GPA: <input type="text" name="gpa" id="" /><br />
	Major: 
	<select name="major" id="">
		<option value="Web sex">Web sex</option>
		<option value="java JAV">java JAV</option>
		<option value="Graphics Mỹ Đen">Graphics Mỹ Đen</option>
		<option value=".Net Người Lớn">.Net Người Lớn</option>
	</select>
	<input type="submit" value="Register"/>
	<input type="button" value="List Students" />
</form>

</body>
</html>